body {
  width: 100%;
  height: 100%;
  margin: 0;
}
header {
text-align: center;
margin-left: auto;
margin-right: auto;
}
nav a{
  padding:0 10px;
  background-color: rgb(226, 9, 56);

}
img{
display: block;
margin: auto;
}
figcaption{
  text-align: center;
}
#featured-property p{
  width: 800px;
  margin:10px auto;
  text-align: center;
}
#details div{
  float: left;
  width: 25%;
  background-color: red;
  text-align: center;
}

